@import '../scss/vars.scss';

.arrows {
    color: $secondary-color;
    display: flex;
    justify-content: center;
    margin-top: 25px;
    
    &__inner {
        width: 100px;
        display: flex;
        justify-content: space-between;
    }

    &__icon {
        cursor: pointer;
        :hover {
            color: $inactive-color;
        }

        :active {
            color: #575757;
        }
    }

    
}